/* @media only screen and (max-width: 575px) {
    .__image {
        width: 700px !important;
        height: auto;
    }
    .listMyFont {
      font-size: 15px;
    }
    .listDate {
      font-size: 13px;
    }
    .detailList{
      font-size: 12px;
    }
  }
  
  
  @media (min-width: 576px) and (max-width: 768px) { 
    .listMyFont {
      font-size: 14px;
    }
    .listDate {
      font-size: 8px;
    }
    .listImgContent {
      border-radius: 15px 20px 15px 20px !important;
    }
    .detailList{
      font-size: 16px;
    }
  } */